@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Concert+One&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Pangolin&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-family: "Bricolage Grotesque", sans-serif;
    list-style-type: none;
}
a{
    color: #4070f4;
    text-decoration: none;

}
html ,body{
    height: 100%;
}
body{
    background-color:#0b0b0b;  
    transition: .5s all;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.holder{
    max-width: 1000px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    padding: 10px;
    display: flex;
}
.container{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    flex-wrap: wrap;
    /* background-color: red; */

}
.p2{
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}
.company-logo{
    width: 100%;
    /* transform: translateY(-150px); */
    margin-bottom: 10px ;
}
.main-logo{
    width: 80px;
    height: 80px;
    border:1px solid rgba(225,225,225,.1);
    border-radius: 50%;
    margin:0px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.p{
    font-size: 1.4em;
    color: #727277;
    font-weight: 600;
    text-align: center;
}
.main-logo img{
    width: 75%;
    filter :drop-shadow(2px -2px 10px rgba(0,0,0,.7));
}
.container .more{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 10px 0px;
    
    background-color: rgba(225,225,225,.01);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.01);
    margin-top: 0px;
    padding: 15px 20px;
}
.p3{
    font-size: 1.3em;
    padding-bottom: 10px;
    font-weight: 600;
}
.p4{
    color: #727277  ;
    padding-bottom: 15px;
}
.already{
    color: #727277;
    padding-top: 5px;
}
button{
    width: 100%;
    height: 42.5px;
    margin: 7.5px 0px;
    border: .5px solid rgba(225,225,225,.1);
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
   font-weight: bold;
   cursor: pointer;
}
.b1{
    background-color: #2C2B38;
}
.b2{
    background-color: rgba(225,225,225,.07);
}
button i{
    font-size: 18px;
}
.buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.buttons .b2{
    background-color: #2C2B38;
}
.buttons button{
    width: 49%;
    margin: 0px 0px;
}
.buttons button i{
    color: rgba(225,225,225,.7);
}
.con2{
    padding: 15px;
    width: 60%;
}
.random-stuff{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.random-stuff ul{
    width: 70%;
    height: auto
    
}
.random-stuff li{
    width:100% ;
    height: 110px;
    border: 3px solid rgba(225,225,225,.1);
    border-radius: 10px;
    margin: 30px 0px;
    padding: 10px;
}
.random-stuff .trans{
    transform: translateX(-70px);
}
.random-stuff .trans2{
    transform: translateX(-70px);
}
.username{
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background-color: rgba(225,225,225,.1);
}
.others{
    width: 50%;
    margin: 10px 0px;
    height: 15px;
    border-radius: 5px;
    background-color: rgba(225,225,225,.05);
}
.r{
    height: 30px;
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
    max-width: 100px;
}
.r span{
    height: 100%;
    width: 30px;
    border-radius: 50%;
    opacity: 0.4;
    background-color: rgba(0,0,0,0.3);
}
@media screen and (max-width:824px){
    .holder{
        justify-content: center;
        max-width: 400px;
    }
    .container{
        width: 100%;
    }
    .con2{
        display: none;
    }
    button{
        cursor: auto;
    }
    
}
@media screen and (max-width:604px){
    .p2{
        font-size: 10.2vw;
    }
}

.span{
    color: #727277;
    font-size: smaller;
}
@media screen and (max-width:450px){
    .p4 ,.already{
        font-size: .85em;
    }
    .p4{
        padding-bottom: 5px;
    }
    .span{
        font-size:11px;
        line-height: 14px;
        display: inline-block;
    }
}

.spinner {
    animation: rotate 1.5s linear infinite;
    z-index: 2;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: #4070f5;
    stroke-linecap: round;
    
    animation: dash 1.5s ease-in-out infinite;
  }
  
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
.container  .some{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
input[type="text"], input[type="email"]{
    width: 100%;
    height: 42.5px;
    margin: 7.5px 0px;
    border: .5px solid rgba(225,225,225,.1);
    background-color: #0b0b0b;
    
    border-radius: 10px;
    outline: none;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
   font-weight: bold;
   cursor: pointer;
   padding-left: 15px;
}
input:focus{
    background-color: transparent;
}
select{
    height: 100%;
    width:100%;
    border: 1px solid rgba(225,225,225,.1);
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #727277;
    transition: .3s;
}
option{
    background-color: #0b0b0b;
    color: #fff;
}
select:active{
    background-color: #2C2B38;
}
select:hover{
    background-color: rgba(225,225,225,.07);
}
select:focus{
    border: 1px solid #4070f4;
    color: #4070f4;
    background-color: transparent;
}

select option{
    display: block;

    padding: 10px;
}
.dobh{
    height: 40px;
    display: flex;
    width: 100%;
}
.dobh .month{
    width: 38%;
    height: 100%;
    margin: 0px 2.5px;
    background-color: transparent;
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    
}
.txt{
    padding: 0px 10px;
}
.dobh .day{
    width: 28%;
    height: 100%;
    background-color: transparent;
    
    margin: 0px 2.5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    
}
.dobh .year{
    width: 28%;
    height: 100%;
    background-color: transparent;
    
    margin: 0px 2.5px;
    display: flex;
    /* justify-content: center; */
    position: relative;
    align-items: center;
    
}
label{
    color: #727277;
}
.gender{
    width: 100%;
    height: 50px;
    margin: 7.5px 0px;
    padding: 5px;
    display: flex;
}
.radio{
    width: 32%;
    height: 100%;
    margin: 0px 2.5px;
    border-radius: 5px;
    border: 1px solid rgba(225,225,225,.1);
    padding: 5px;
}
.radio label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
input[type="radio"]{
    appearance: none;
    outline: 1px solid #4070f4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: #4070f4;
    border: 3px solid #0b0b0b;
}
@media screen and (max-width:390px){
    .radio label{
        font-size: 3.8vw;
    }
    input[type="ra{dio"]{
        width: 10px;
        height: 10px;
    }
}
/* .phone-email{
    display:flex;
}
.phone-email button{
    outline: none;
    height: 26px;
    margin: 0px;
    padding: 7px 0px;
    width: 100px;
    border: 1px solid #4070f4;
}
.phone-email button.active{
    margin-right: 5px;
    background-color: #4070f4;
    color: #fff;
} */
 .cop{
    width: 100%;
    height: 30px;
    background-color: rgba(225,225,225,.07);
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
 }
.cop .co{
    width: 49.5%;
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: small;
    font-weight: 600;
}
.ciphone{
    height: 47px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
}
.ci select{
    padding: 5px;
    display: inline-block;
    width: 70px;
    height: 30px;
    height: 100%;
    border-radius: 10px;
}
.ciphone input{
    width: calc(100% - 75px);
    margin: 0px;
    height: 100%;
}
.co.active{
    background-color: #0b0b0b;
}